@use "variables";

.home_section {
    text-align: center;
    .hero_section {
        margin: 160px 0 0 0;
        .profile_image {
            width: 400px;
            height: 400px;
            border-radius: 50%;
        }
        .info_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            p {
                font-size: 1.1rem;
                font-weight: light;
                text-align: justify;
                line-height: 1.8rem;

                font-family: Raleway;
            }
            h1 {
                font-size: 4rem;
            }
        }
    }
}

@media (max-width: variables.$sm) {
    .home_section {
        margin-top: 17px;
        .hero_section {
            margin-top: 110px;
            .profile_image {
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
            .info_container {
                text-align: center;
                align-items: center;
                p {
                    padding: 0 20px;
                }
                h1 {
                    line-height: 4.1rem;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media (min-width: variables.$sm) and (max-width: variables.$lg) {
    .home_section {
        .hero_section {
            .summary_container {
                margin: 50px 4%;
            }
        }
    }
}
